section {
    width: 80%;
    height: 800px;
    /* background-color: gainsboro; */
    background-image: url(https://images.unsplash.com/photo-1535478044878-3ed83d5456ef?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=769&q=80);
    background-size: cover;
    /* 
    background-size:
    cover 
    contain no repeat
    
    background-position: 
    bottom;
    center/cover
    center/40% midnightblue

    background: includes all properties

    */
    margin: 0 auto;
}

h1 {
    font-size: 50px;
    color: darkred;
}