h1 {
    text-align:center;
    font-weight: 800;
    text-decoration: blueviolet overline wavy;
    letter-spacing: 1.1px;
    font-size: 100px;
    /* font-family: Segoe UI, Futura, Arial, sans-serif; */
    font-family: fantasy;
    /* font-family: monospace; */
}

a {
    text-decoration: none;
}

span {
    color: coral;
}

/* Id Selector */
#e {
    color: blue;
}

/* Class Selector */
.s {
    background-color: red;
}

/* Element Selector */
p {
    line-height: 1.1;
    letter-spacing: 11px;
}

/* Universal Selector */
* {
    background: beige;
}

/* Combinators */
/* Descendant Selector */
/* Descendants can be any level deep */
p span {
    background-color:thistle;
}

/* Direct Descendant */
footer > p{
    text-transform: uppercase;
}

/* Adjacent Selector */
/* Needs to be right next to each other on the same level */
h2 + hr + p {
    font-family: sans-serif;
}

/* Attribute Selector */
input[type="text"] {
    color: hotpink;
}

input {
    background-color: indigo;
    color: ivory;
}

/* Pseudo class */
/* Style a particular element in a class */
/* Selector for a state of an element */
button:hover {
    background-color: lightcoral;
}

button {
    border-color: lightcoral;
}

button:active {
    color: lightcyan;
    font-size: 12px;
}

input[type="checkbox"]:checked {
    box-shadow: 0 0 0 3px hotpink;
}

 /* Selects the position in a group of siblings */
 input:nth-of-type(2n) {
    color:yellow;
 }


/* Pseudo Elements */
/* Style a particular part of an element */
h2::first-letter {
    color: yellowgreen;
    font-size: 32px;
}

h1::first-letter {
    color: red;
}

input::placeholder {
    color:darkturquoise;
    background-color: inherit;
}

p::first-line {
    font-size: 24px;
    color:powderblue;
}
p::selection {
    color:whitesmoke;
    background-color: royalblue !important;
}

/* Specificity */
/* How specific is the selection to style */
/* inline > style block > stylesheet */
/* id > class,attribute,pseudo-class > element,pseudo-element */
/* !important - this will override all other styles */

/* CSS Inheritance */
/* Styles are inherited from the nearest outer style */