h3 {
    color: chocolate;
    background-color:khaki;
}

button {
    color: #5FCFFC;
    background-color:lavender;
}

p {
    color: rgb(89, 151, 0);
    background: lightcyan;
}

body{
    background-color: black;
}
